# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.ts" and "/src/env.public.ts"
# should be updated accordingly.

# The database url used by BetterAuth and Drizzle (postgres://<user>:<password>@<host>:<port>/<db_name>)
DATABASE_URL=postgresql://postgres:mKGCP84tHl-TRELG@localhost:5432/PROJECT_NAME

# Vercel's Blob Storage read/write token
# Can be found in the Vercel dashboard under Settings > Storage
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_<key>"

# Posthog configuration
NEXT_PUBLIC_POSTHOG_KEY=phc_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com

# The better auth configuration (see: https://www.better-auth.com/docs/installation#set-environment-variables)
BETTER_AUTH_SECRET=9pyTdtlhddiUd7DdMdG8LmrHJXp5QPAo
BETTER_AUTH_URL=http://localhost:3000

# The app public url
NEXT_PUBLIC_APP_URL=http://localhost:3000

# The resend configuration
RESEND_FROM_EMAIL="PROJECT_NAME <no-reply@<PROJECT_NAME>.com>"
RESEND_API_KEY=re_xxxxx
